body {
    background-color: white !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.texto, .checkbox p {
    color: black;
}

.texto{
    margin-bottom: 2.5px;
    margin-top: 5px;
}

.texto, .fecha, .dates {
    text-align: center;
}

.invisible {
    opacity: 0;
    height: 375px;
}

.navbar {
    margin-bottom: 0;
    background-color: #f1f1f1;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

legend{
  font-size: 25px;
  color: dimgrey;
  font-weight: bold;
  text-align: center;
}

h4 {
    font-size: 20px;
    color: dimgrey;
    text-align: left;
    margin-left: 2.5vw;
    margin-bottom: -20px;
}

h3 {
    font-size: 22.5px;
    color: #d12934;
    text-align: left;
    margin-bottom: -20px;
}

.box {
    
    border-radius: 5px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 25px;
    display: block-inline;
    height: auto !important;
}

.btn {
    margin-top: -20px;
    margin-bottom: 20px;
    border: 1px solid darkgrey;
}

#oculto {
    border-radius: 5px;
    height: auto !important;
    margin-top: -15px;
}

.hide, .hide *{
  display:none;
}

#ver-mas{
  color: grey;
  cursor: pointer;
  text-decoration: underline;
}

.checkbox-inline {
    text-align: left;
    margin-left: 40px;
    display: inline-block;
    width: 175px;
}

.navbar-brand {
    color: #fff !important;
    text-align: center !important;
}

form{
  border-radius: 10px;
  padding-bottom: 15px;
  background-color: #eee;
  margin-top: 75px;
  margin-bottom: 50px;
}

form input{
  border: 1px solid grey;
  border-radius: 5%;
}

@media screen and (max-width: 991px) {
  .box .checkbox-inline {
    margin-left: 10vw;
  }
}
