<body class="body-login">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-3 col-xs-1"></div>
      <div class="col-md-6 col-xs-10">
        <form method="post" class="form-login">
          <fieldset class="fieldset-login">
            <h3 class="titulo-login">Iniciar sesion</h3>
            <br/>
            <label id="label-login" for="username">Nombre de usuario</label><br/>
            <input type="text" class="campo-login" id="username" name="username"></input>
            <br/> <br/>
            <label id="label-login" for="pass">Contraseña</label><br/>
            <input type="password" class="campo-login" id="pass" name="pass" value=""></input>
            <br/> <br/>
            <input type="checkbox"> Recordarme</input>
            <br/><br/>
            <input type="submit" value="Iniciar sesión"></input>
            <br/><br/>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <br/>
            <a href="newuser">¿No tenés usuario? Registrate</a>
          </fieldset>
        </form>
      </div>
      <div class="col-md-3 col-xs-1"></div>
    </div>
  </div>
</body>
