<body class="body-newuser">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-3 col-xs-1"></div>
      <div class="col-md-6 col-xs-10">
        <form method="post" class="form-newuser">
          <fieldset class="fieldset-newuser">
            <h3 class="titulo-newuser">Crear cuenta</h3>
            <br/>
            <label class="label-newuser" for='name'>Nombre y apellido</label> <br/>
            <input class='campo2-newuser' type="text" id="name" name="name"></input>
            <input class='campo2-newuser' type="password" name="Apellido" value=""></input>
            <br/> <br/>
            <label class="label-newuser" for='email'>E-mail</label> <br/>
            <input class='campo-newuser' type="text" id="email" name="email" value=""></input>
            <br/> <br/>
            <label class="label-newuser" for='username'>Nombre de usuario</label> <br/>
            <input class='campo-newuser' type="text" id="username" name="username" value=""></input>
            <br/> <br/>
            <label class="label-newuser" for='pass'>Contraseña</label> <br/>
            <input class='campo-newuser' type="text" id='pass' name="pass" value=""></input>
            <br/> <br/>
            <label class="label-newuser" for='pass'>Confirmar contraseña</label> <br/>
            <input class='campo-newuser' type="text" id="pass" name="pass" value=""></input>
            <br/> <br/>
            <input type="submit" value="Registrarme"></input>
            <br/><br/>
            <a href="login">¿Ya tenés usuario? Inicia sesión</a>
          </fieldset>
        </form>
      </div>
      <div class="col-md-3 col-xs-1"></div>
    </div>
  </div>
</body>
